# Django Settings
DEBUG=True
SECRET_KEY=your-secret-key-here

# Database - PostgreSQL
DB_NAME=sitanet_wallet
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

# 9PSB API Credentials
NPSB_BASE_URL=http://102.216.128.75:9090/waas
NPSB_USERNAME=your_username
NPSB_PASSWORD=your_password
NPSB_CLIENT_ID=your_client_id
NPSB_CLIENT_SECRET=your_client_secret



# CheckMyNINBVN API (for NIN/BVN verification)
CHECKMYNINBVN_API_KEY=your_api_key_here